.card{
  margin: 5px auto;
  border-radius: 20px;
  border: 2px solid dimgray;
  width: 45%;
  padding: 20px;
  background: black;
  color: white;
}

.card:hover{
  box-shadow: 5px 7px 20px 10px #000012;
}

h2{
  margin: 0;
}

button{
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

button:hover{
  background: gray;
}

.delete{
  background: firebrick;
}

.edit{
  background: green;
}
